---
title: Sushi Bar Menu
permalink: /menu/sushi-bar/
---

{% extends "layouts/menu-frame.njk" %}

{% block content %}
<iframe src='https://88restaurants.com/1154/online_orders/frame#menu-2620' style='width:100%;height:100%;border:none;display:block;'></iframe>
{% endblock %}
